*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/baselibrary/build/
/okhttp/build/
/.gradle/
/build/
camera_demo/libs/
camera_demo/src/main/res/drawable-ldpi/
camera_demo/src/main/res/drawable/
common_dialog/libs/
common_dialog/src/main/res/drawable/
custom_webview/libs/
custom_webview/src/main/res/drawable/
eventbus_test/libs/
eventbus_test/src/main/res/drawable-ldpi/
eventbus_test/src/main/res/drawable/
greendao/libs/
greendao/src/main/res/drawable/
js_bridge/libs/
js_bridge/src/main/res/drawable/
js_to_android/libs/
js_to_android/src/main/res/drawable/
jsoup_data/libs/
jsoup_data/src/main/res/drawable/
okhttp/src/main/res/drawable/
recycleview_test/libs/
timepickdia/libs/
timepickdia/src/main/res/drawable/
